*{
    padding: 0;
    margin:0;
    box-sizing:border-box;
}

nav{
    height:20vh;
    background-color: blue;
    position: relative;
}

#link-container{
    height: 100%;
    position:absolute;
    right: 20px;
}

.nav-link{
    display: inline-block;
    border-radius: 100%;
    background-color: cornsilk;
    font-size:2em;
    padding:5px 15px;
    margin-right: 15px;
    margin-top:25%;
    font-weight: bold;
}